.Gen
{
POSITION: relative
}
.heading
{
BACKGROUND: #eeeeee;
COLOR: #000000
}
.HtmlEdit
{
BACKGROUND-COLOR: #F6F6F6;
POSITION: relative
}
/* 工具栏 */
.yToolbar
{
	BACKGROUND-COLOR: #F6F6F6;
	BORDER-BOTTOM: buttonshadow 1px solid;
	BORDER-LEFT: buttonhighlight 1px solid;
	BORDER-RIGHT: buttonshadow 1px solid;
	BORDER-TOP: buttonhighlight 1px solid;
	HEIGHT: 28px;
	LEFT: 0px;
	POSITION: relative;
	TOP: 0px;
	width: 760px;

}
/* 按钮 */
.Btn
{
BACKGROUND-COLOR: #F6F6F6;
BORDER-BOTTOM: buttonface 1px solid;
BORDER-LEFT: buttonface 1px solid;
BORDER-RIGHT: buttonface 1px solid;
BORDER-TOP: buttonface 1px solid;
HEIGHT: 24px;
/*POSITION: absolute;*/
TOP: 1px;
WIDTH: 24px
}
/* 更多操作，下拉的菜单 */
.BtnMenu
{
BACKGROUND-COLOR: #F6F6F6;
BORDER-BOTTOM: buttonface 1px solid;
BORDER-LEFT: buttonface 1px solid;
BORDER-RIGHT: buttonface 1px solid;
BORDER-TOP: buttonface 1px solid;
HEIGHT: 24px;
/*POSITION: absolute;*/
TOP: 1px;
WIDTH: 10px
}
/* 按钮的图片 */
.Ico
{
LEFT: 2px;
/*POSITION: absolute;*/
TOP: 2px
}
/* 分割条 */
.TBSep
{
BORDER-LEFT: buttonshadow 1px solid;
BORDER-RIGHT: buttonhighlight 1px solid;
FONT-SIZE: 0px;
HEIGHT: 22px;
/*POSITION: absolute;*/
TOP: 1px;
WIDTH: 1px
}
/* 下拉选择框（标题，字体，字号） */
.TBGen
{
FONT: 9pt 宋体,verdana,arial,sans-serif;
HEIGHT: 22px;
/*POSITION: absolute;*/
TOP: 3px
}
/* 工具栏最开始的那段表示可以拖动的区域 */
.TBHandle
{
BACKGROUND-COLOR: #6687BA;
BORDER-LEFT: buttonhighlight 1px solid;
BORDER-RIGHT: buttonshadow 1px solid;
BORDER-TOP: buttonhighlight 1px solid;
FONT-SIZE: 1px;
HEIGHT: 22px;
TOP: 1px;
WIDTH: 3px
/*POSITION: absolute;*/
}

/* 按钮的鼠标事件，移上去 */
.BtnMouseOverUp
{
BACKGROUND-COLOR: #e7e7e7;
BORDER-BOTTOM: buttonshadow 1px solid;
BORDER-LEFT: buttonhighlight 1px solid;
BORDER-RIGHT: buttonshadow 1px solid;
BORDER-TOP: buttonhighlight 1px solid;
HEIGHT: 24px;
TOP: 1px;
WIDTH: 24px
/*POSITION: absolute;*/
}
/* 按钮的鼠标事件，移开 */
.BtnMouseOverDown
{
BACKGROUND-COLOR: #F6F6F6;
BORDER-BOTTOM: buttonhighlight 1px solid;
BORDER-LEFT: buttonshadow 1px solid;
BORDER-RIGHT: buttonhighlight 1px solid;
BORDER-TOP: buttonshadow 1px solid;
HEIGHT: 24px;
/*POSITION: absolute;*/
TOP: 1px;
WIDTH: 24px
}
/* 按钮的鼠标事件，点击下去 */
.BtnDown
{
BACKGROUND-COLOR: #F6F6F6;
BORDER-BOTTOM: buttonhighlight 1px solid;
BORDER-LEFT: buttonshadow 1px solid;
BORDER-RIGHT: buttonhighlight 1px solid;
BORDER-TOP: buttonshadow 1px solid;
HEIGHT: 24px;
/*POSITION: absolute;*/
TOP: 1px;
WIDTH: 24px
}
/* 按钮菜单的鼠标事件，移上去 */
.BtnMenuMouseOverUp
{
BACKGROUND-COLOR: #F6F6F6;
BORDER-BOTTOM: buttonshadow 1px solid;
BORDER-LEFT: buttonhighlight 1px solid;
BORDER-RIGHT: buttonshadow 1px solid;
BORDER-TOP: buttonhighlight 1px solid;
HEIGHT: 24px;
/*POSITION: absolute;*/
TOP: 1px;
WIDTH: 10px
}
/* 按钮菜单的鼠标事件，移开 */
.BtnMenuMouseOverDown
{
BACKGROUND-COLOR: #F6F6F6;
BORDER-BOTTOM: buttonhighlight 1px solid;
BORDER-LEFT: buttonshadow 1px solid;
BORDER-RIGHT: buttonhighlight 1px solid;
BORDER-TOP: buttonshadow 1px solid;
HEIGHT: 24px;
/*POSITION: absolute;*/
TOP: 1px;
WIDTH: 10px
}
/* 按钮菜单的鼠标事件，点击下去 */
.BtnMenuDown
{
BACKGROUND-COLOR: #F6F6F6;
BORDER-BOTTOM: buttonhighlight 1px solid;
BORDER-LEFT: buttonshadow 1px solid;
BORDER-RIGHT: buttonhighlight 1px solid;
BORDER-TOP: buttonshadow 1px solid;
HEIGHT: 24px;
/*POSITION: absolute;*/
TOP: 1px;
WIDTH: 10px
}

.AncestorsMouseDown {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #000000;
	cursor: default;
	font-weight: bold;
	color: #000000;
	height: 10px;
}
.AncestorsMouseOver {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #FFFFFF;
	cursor: default;
	height: 10px;
}
.AncestorsMouseUp {
	border: 1px solid buttonface;
	font-weight: bold;
	color: #000000;
	height: 10px;
	cursor: default;
}
.AncestorsMouseUpOver {
	font-weight: bold;
	color: #000000;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #FFFFFF;
	height: 10px;
	cursor: default;
}
.AncestorsStyle {
	border: 1px solid buttonface;
	height: 10px;
	cursor: default;
}
/* 按钮图片的鼠标事件，点击下去 */
.IcoDown
{
LEFT: 3px;
/*POSITION: absolute;*/
TOP: 3px;
}
/* 按钮图片的鼠标事件，松开 */
.IcoDownPressed
{
LEFT: 2px;
/*POSITION: absolute;*/
TOP: 2px
}

.nav_menu
{
	BACKGROUND-COLOR: #ffffff;
}
.menu
{
	BACKGROUND-COLOR: #39867B;
	width:90%;border: 1px; 

}
td.MenuBody
{
	BACKGROUND-COLOR: #ffffff;
}

TD
{
	font-size:9pt;font-family:"宋体,Verdana,Arial"
}
A
{
	text-decoration: none;
}
A:hover
{
COLOR: #0000FF;
}
A:link {
color: #000000;
}
A:visited {
color: #000000;
}
BODY
{
	BACKGROUND-COLOR: #EEEEEE;
}
